<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header class="py-8 w-full bg-gray-900 m-auto text-center">
        <h1 class=" text-white text-3xl">Weather in <span id="city">Nairobi</span></h1>
    </header>
    <main class="mt-8">
        <section>
            <div class="container text-center m-auto bg-overlay p-4 w-3/5 rounded-md">
                <h1 class=" text-white text-3xl" id="general-condition">General weather Condition</span></h1>
            </div>
        </section>
    </main>
</body>
</html>